* {
    font-family: "Montserrat", Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    max-width: 1500px;
}

h1 , h2 , h3 , p , a {
    letter-spacing: 3px;
    padding: 5px;
    font-weight: normal;
}
a {
    color: #000;
    text-decoration: none;
    transition: all  0.3s ease;
}
a:hover {
    color: #DEDEDE;
}
a.btn-border {
    display: inline-block;
    border-radius: 100vh;
    background: #88C8BC;
    width: 200px;
    padding: 15px 0px;
    color: #fff;
    margin: 15px 0px;
    text-align: center;
}
  
a.btn-border:hover {
    color: #fff;
    background: #e6dcd8;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.space {
    height: 40px;
  }
  


/* ヘッダー */

.header-top {
    padding-top: 2rem;
}

/* logo */

.logo {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
}
.logo img {
    width: 150px;
}

/* search */

.search {
    position: relative;
    margin-top: .5rem;
}
.search i {
    font-size: 12px;
    color: #fff;
}
.search a.btn-border {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    width: 50px;
}
input[name="search"] {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 220px;
    border-radius: 100px;
    border: 1px solid #DFDFDF;
    padding-left: 12px;
}
input::placeholder {
    color: #DEDEDE;
  }


/* menu */

.menu {
    padding: 3rem 3rem 1.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu li {
    font-size: 13px;
    padding-right: 40px;
}
.menu li:last-child {
    padding-right: 0;
    margin-left: auto;
}

.dropdwn_menu {
    display: none;
}

/* sale */

.sale {
    background-color: #88C8BC;
    width: 100%;
    padding: 13px 0px;
}
.sale p {
    font-size: 13px;
    text-align: center;
    color: #fff;
}

/* main */

.main {
    height: 600px;
    overflow: hidden;
    background-image: url(product-image/Soap.jpg);
    background-position: center;
}
.product-introduction {
    padding: 15%;
}
.main p , .main h2 {
    text-shadow: #fff 0px 3px 8px;
}


/* product */

.product {
    text-align: center;
}

.product-ind {
    display: block;
    text-align: center;
    margin: 0 0.5rem;
}

.product img {
    width: 100%;
    padding: 10px 0px;
}

.product-list {
    padding-top: 30px;
    display: flex;
}

a .product-image {
    transition: all 0.5s ease;
}

a:hover .product-image {
    opacity: 0.5;
    filter: alpha(opacity=70);
}
